## Import Data

In [1]:
import pandas as pd

In [57]:
bw = pd.DataFrame(pd.read_csv("bw.csv"))
bw

      SPREFID      USUBJID  BWORRES BWORRESU  BWDY SEX trial_set_description
0      HCD-03  HCD-03-0088    183.0        g    20   F                    CG
1      HCD-03  HCD-03-0088    149.0        g     5   F                    CG
2      HCD-03  HCD-03-0088    192.0        g    29   F                    CG
3      HCD-03  HCD-03-0088    155.0        g     9   F                    CG
4      HCD-03  HCD-03-0088    159.0        g    13   F                    CG
...       ...          ...      ...      ...   ...  ..                   ...
10340  HCD-11  HCD-11-0005    216.0        g     3   M                    CG
10341  HCD-11  HCD-11-0005    274.0        g    23   M                    CG
10342  HCD-11  HCD-11-0005    275.0        g    24   M                    CG
10343  HCD-11  HCD-11-0005    220.0        g     4   M                    CG
10344  HCD-11  HCD-11-0005    276.0        g    25   M                    CG

[10345 rows x 7 columns]

In [58]:
bw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10345 entries, 0 to 10344
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SPREFID                10345 non-null  object
 1   USUBJID                10345 non-null  object
 2   BWORRES                10345 non-null  float64
 3   BWORRESU               10345 non-null  object
 4   BWDY                   10345 non-null  int64
 5   SEX                    10345 non-null  object
 6   trial_set_description  10345 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 565.9+ KB

In [59]:
cl = pd.DataFrame(pd.read_csv("cl.csv"))
cl

,SPREFID,USUBJID,CLLOC,STUDY_WEEK,CLORRES,CLRESCAT,CLSTAT,CLREASND,CLCAT,CLSEV,CLRFTDTC,CLTPTNUM,CLDY,SEX,trial_set_description
0,HCD-12,HCD-12-0083,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2019-04-30T07:04:00Z,1.0,15,F,CG
1,HCD-12,HCD-12-0083,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2019-04-30T09:32:00Z,2.0,15,F,CG
2,HCD-12,HCD-12-0083,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2019-05-01T08:36:00Z,1.0,16,F,CG
3,HCD-12,HCD-12-0083,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2019-05-01T10:39:00Z,2.0,16,F,CG
4,HCD-12,HCD-12-0083,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2019-05-02T09:32:00Z,1.0,17,F,CG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31606,HCD-09,HCD-09-0092,NaN,NaN,NORMAL,OPHTHALMOLOGY,NaN,NaN,Ophthalmology Pupil Reflex,NaN,2018-04-26T09:01:09Z,1.0,-4,F,CG
31607,HCD-09,HCD-09-0092,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Open-Field Observation,NaN,2018-05-09T07:16:18Z,1.0,10,F,CG
31608,HCD-09,HCD-09-0092,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2018-05-17T07:16:56Z,2.0,18,F,CG
31609,HCD-09,HCD-09-0092,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2018-05-15T09:59:47Z,3.0,16,F,CG
31610,HCD-09,HCD-09-0092,NaN,NaN,NORMAL,CLINICAL SIGNS,NaN,NaN,Detailed Clinical Observation,NaN,2018-05-12T08:57:36Z,2.0,13,F,CG

In [60]:
cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31611 entries, 0 to 31610
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SPREFID                31611 non-null  object
 1   USUBJID                31611 non-null  object
 2   CLLOC                  297 non-null    object
 3   STUDY_WEEK             19928 non-null  float64
 4   CLORRES                31611 non-null  object
 5   CLRESCAT               31611 non-null  object
 6   CLSTAT                 19928 non-null  object
 7   CLREASND               0 non-null      float64
 8   CLCAT                  31611 non-null  object
 9   CLSEV                  108 non-null    object
 10  CLRFTDTC               31611 non-null  object
 11  CLTPTNUM               30718 non-null  float64
 12  CLDY                   31611 non-null  int64
 13  SEX                    31611 non-null  object
 14  trial_set_description  31611 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 3.6+ MB

In [61]:
fw = pd.DataFrame(pd.read_csv("fw.csv"))
fw

,SPREFID,USUBJID,SEX,FWTESTCD,FWTEST,FWORRES,FWORRESU,FWDY,FWENDY,FWSTAT,FWREASND,trial_set_description
0,HCD-14,HCD-14-0002,M,WC,Water Consumption,28.0,g/day,1,8,Y,NaN,CG
1,HCD-14,HCD-14-0001,M,WC,Water Consumption,28.0,g/day,1,8,Y,NaN,CG
2,HCD-14,HCD-14-0002,M,WC,Water Consumption,30.0,g/day,8,15,Y,NaN,CG
3,HCD-14,HCD-14-0001,M,WC,Water Consumption,30.0,g/day,8,15,Y,NaN,CG
4,HCD-14,HCD-14-0002,M,WC,Water Consumption,28.0,g/day,15,22,Y,NaN,CG
...,...,...,...,...,...,...,...,...,...,...,...,...
2387,HCD-02,HCD-02-0103,F,FC,Food Consumption,18.0,g/day,8,15,Y,NaN,CG
2388,HCD-02,HCD-02-0102,F,FC,Food Consumption,17.0,g/day,15,22,Y,NaN,CG
2389,HCD-02,HCD-02-0103,F,FC,Food Consumption,17.0,g/day,15,22,Y,NaN,CG
2390,HCD-02,HCD-02-0102,F,FC,Food Consumption,15.0,g/day,22,29,Y,NaN,CG
2391,HCD-02,HCD-02-0103,F,FC,Food Consumption,15.0,g/day,22,29,Y,NaN,CG

In [62]:
fw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SPREFID                2392 non-null   object
 1   USUBJID                2392 non-null   object
 2   SEX                    2392 non-null   object
 3   FWTESTCD               2392 non-null   object
 4   FWTEST                 2392 non-null   object
 5   FWORRES                2392 non-null   float64
 6   FWORRESU               2392 non-null   object
 7   FWDY                   2392 non-null   int64
 8   FWENDY                 2392 non-null   int64
 9   FWSTAT                 2392 non-null   object
 10  FWREASND               0 non-null      float64
 11  trial_set_description  2392 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 224.4+ KB

In [63]:
lb = pd.DataFrame(pd.read_csv("lb.csv"))
lb

,SPREFID,USUBJID,LBTEST,LBTESTCD,LBCAT,LBORRES,LBORRESU,LBMETHOD,LBSPEC,LBDY,trial_set_description,SEX
0,HCD-13,HCD-13-0042,Chloride,CL,CLINICAL CHEMISTRY,103.0,mmol/l,iBroker:CL-ISE,SERUM,34,CG,F
1,HCD-13,HCD-13-0044,Chloride,CL,CLINICAL CHEMISTRY,103.0,mmol/l,iBroker:CL-ISE,SERUM,34,CG,F
2,HCD-13,HCD-13-0049,Chloride,CL,CLINICAL CHEMISTRY,106.0,mmol/l,iBroker:CL-ISE,SERUM,34,CG,F
3,HCD-13,HCD-13-0047,Chloride,CL,CLINICAL CHEMISTRY,102.0,mmol/l,iBroker:CL-ISE,SERUM,34,CG,F
4,HCD-13,HCD-13-0048,Chloride,CL,CLINICAL CHEMISTRY,105.0,mmol/l,iBroker:CL-ISE,SERUM,34,CG,F
...,...,...,...,...,...,...,...,...,...,...,...,...
15452,HCD-02,HCD-02-0006,Volume,VOLUME,URINALYSIS,10.0,ml,iBroker:Volume,URINE,24,CG,M
15453,HCD-02,HCD-02-0008,Volume,VOLUME,URINALYSIS,9.7,ml,iBroker:Volume,URINE,24,CG,M
15454,HCD-02,HCD-02-0001,Volume,VOLUME,URINALYSIS,6.3,ml,iBroker:Volume,URINE,24,CG,M
15455,HCD-02,HCD-02-0009,Volume,VOLUME,URINALYSIS,3.8,ml,iBroker:Volume,URINE,24,CG,M
15456,HCD-02,HCD-02-0010,Volume,VOLUME,URINALYSIS,5.0,ml,iBroker:Volume,URINE,24,CG,M

In [64]:
lb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15457 entries, 0 to 15456
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SPREFID                15457 non-null  object
 1   USUBJID                15457 non-null  object
 2   LBTEST                 15457 non-null  object
 3   LBTESTCD               15457 non-null  object
 4   LBCAT                  15457 non-null  object
 5   LBORRES                15457 non-null  float64
 6   LBORRESU               15457 non-null  object
 7   LBMETHOD               13838 non-null  object
 8   LBSPEC                 15457 non-null  object
 9   LBDY                   15457 non-null  int64
 10  trial_set_description  15457 non-null  object
 11  SEX                    15457 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 1.4+ MB

In [77]:
LB_mapping = pd.DataFrame(pd.read_excel("LB_mapping.xlsx"))
LB_mapping

,LBTEST_new,LBTEST_old,LBTESTCD
0,CALCIUM,CALCIUM,CA
1,CALCIUM,CALCIUM COBAS,CA
2,CALCIUM,CALCIUM URINE,CA
3,CALCIUM,URINE CALCIUM,CA
4,CALCIUM,CALCIUM IN SERUM,CA
...,...,...,...
300,PROTEIN/CREATININE,PROTEIN/CREATININE,PROCRC
301,PROTEIN/CREATININE,PROTEIN PER MMOL CREATININE URINE,PROCRC
302,PROTEIN/CREATININE,51URINE TOTAL PROTEIN/51URINE CREATININE MMOL/L,PROCRC
303,PROTEIN PER SAMPLING PERIOD UVOL,PROTEIN PER SAMPLING PERIOD UVOL,PROCRC
304,CREATININE PER URINE VOLUME,CREATININE PER SAMPLING PERIOD,CREUVOC

In [79]:
LB_unit_mapping = pd.DataFrame(pd.read_excel("LB_unit_mapping.xlsx"))
LB_unit_mapping

,LBTEST_old,LBTESTCD_old,LBSPEC_old,LBORRESU_old,meanval,LBTEST_new,LBTESTCD_new,LBSPEC_new,LBORRESU_new
0,7-ETHOXYCOUMARIN DEETHYLASE,ECOD,7-Ethoxycoumarin Deethylase,nmol/(g*min),3.271429,7-ETHOXYCOUMARIN DEETHYLASE,ECOD,Liver Bio Chemie,nmol/(g*min)
1,7-ETHOXYCOUMARIN DEETHYLASE,ECOD,LIVER,nmol/(g*min),2.866667,7-ETHOXYCOUMARIN DEETHYLASE,ECOD,Liver Bio Chemie,nmol/(g*min)
2,7-ETHOXYCOUMARIN DEETHYLASE,ECOD,Liver Bio Chemie,nmol/(g*min),3.264286,7-ETHOXYCOUMARIN DEETHYLASE,ECOD,Liver Bio Chemie,nmol/(g*min)
3,7-ETHOXYRESORUFIN DEETHYLASE,EROD,7-Ethoxyresorufin Deethylase,nmol/(g*min),0.218286,7-ETHOXYRESORUFIN DEETHYLASE,EROD,Liver Bio Chemie,nmol/(g*min)
4,7-ETHOXYRESORUFIN DEETHYLASE,EROD,LIVER,nmol/(g*min),0.137778,7-ETHOXYRESORUFIN DEETHYLASE,EROD,Liver Bio Chemie,nmol/(g*min)
...,...,...,...,...,...,...,...,...,...
288,WEIGHT,WEIGHT_TESTIS,TESTES,g,3.225984,WEIGHT,WEIGHT_TESTIS,TESTIS,g
289,WEIGHT,WEIGHT_TESTIS,TESTIS,g,3.354471,WEIGHT,WEIGHT_TESTIS,TESTIS,g
290,WEIGHT,WEIGHT_THYMUS,THYMUS,g,0.446672,WEIGHT,WEIGHT_THYMUS,THYMUS,g
291,WEIGHT,WEIGHT_UTERUS,UTERUS,g,0.667727,WEIGHT,WEIGHT_UTERUS,UTERUS,g
292,YEAST CELLS,YEAST,URINE,NaN,0.000000,YEAST CELLS,YEAST,URINE,NaN

In [80]:
LB_unit_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LBTEST_old    293 non-null    object
 1   LBTESTCD_old  254 non-null    object
 2   LBSPEC_old    258 non-null    object
 3   LBORRESU_old  241 non-null    object
 4   meanval       250 non-null    float64
 5   LBTEST_new    293 non-null    object
 6   LBTESTCD_new  293 non-null    object
 7   LBSPEC_new    293 non-null    object
 8   LBORRESU_new  241 non-null    object
dtypes: float64(1), object(8)
memory usage: 20.7+ KB

In [83]:
LBTEST_dictionary = pd.DataFrame(pd.read_csv("LBTEST_dictionary.csv"))
LBTEST_dictionary

                       LBTEST  LBTESTCD       LBSPEC
0                     Glucose      GLUC        SERUM
1       Large Unstained Cells   LGUNSCE  WHOLE BLOOD
2    Alanine Aminotransferase       ALT        SERUM
3                   Basophils      BASO  WHOLE BLOOD
4                      Volume    VOLUME        URINE
..                        ...       ...          ...
497                   ImFun01   IMFUN01  WHOLE BLOOD
498                   ImFun28   IMFUN28  WHOLE BLOOD
499                   ImFun24   IMFUN24  WHOLE BLOOD
500    b conjugated bilirubin     BCBIL        SERUM
501                  NAG/CREA  U-NAG/CR        URINE

[502 rows x 3 columns]

In [84]:
LBTEST_dictionary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LBTEST    502 non-null    object
 1   LBTESTCD  502 non-null    object
 2   LBSPEC    502 non-null    object
dtypes: object(3)
memory usage: 11.9+ KB

In [86]:
legacy_LB = pd.DataFrame(pd.read_excel("legacy_LB.xlsx"))
legacy_LB

    LBTESTCD  LBSPEC LBORRESU                    LBTEST
0        ALB   SERUM      g/l                   ALBUMIN
1        ALP   SERUM      U/l      ALKALINE PHOSPHATASE
2        ALT   SERUM      U/l  ALANINE AMINOTRANSFERASE
3   AMORPHSD   URINE      NaN        AMORPHOUS SEDIMENT
4      ANISO  PLASMA      NaN                ANISOCYTES
..       ...     ...      ...                       ...
78   UROTHCE   URINE      NaN          UROTHELIAL CELLS
79    VOLUME   URINE       ml                    VOLUME
80       WBC   URINE      NaN                LEUKOCYTES
81       WBC  PLASMA      G/l                LEUKOCYTES
82     YEAST   URINE      NaN               YEAST CELLS

[83 rows x 4 columns]

In [87]:
legacy_LB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LBTESTCD  83 non-null     object
 1   LBSPEC    83 non-null     object
 2   LBORRESU  53 non-null     object
 3   LBTEST    83 non-null     object
dtypes: object(4)
memory usage: 2.7+ KB

In [65]:
ma = pd.DataFrame(pd.read_csv("ma.csv"))
ma

,SPREFID,USUBJID,MASPEC,MASEVN,MASEV,MAORRES,MALAT,MASTAT,MAREASND,MADY,MADTC,MATEST,MATESTCD,finding_is_unremarkable_or_incomplete,SEX,trial_set_description
0,HCD-10,HCD-10-0082,WHOLE ANIMAL,NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,32,2018-07-13T00:00:00Z,Gross Pathological Examination,GROSPATH,1,F,CG
1,HCD-10,HCD-10-0085,WHOLE ANIMAL,NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,57,2018-08-09T00:00:00Z,Gross Pathological Examination,GROSPATH,1,F,CG
2,HCD-10,HCD-10-0081,OVIDUCT,NaN,NaN,UNREMARKABLE,BILATERAL,NaN,NaN,32,2018-07-13T00:00:00Z,Gross Pathological Examination,GROSPATH,1,F,CG
3,HCD-10,HCD-10-0081,"LARGE INTESTINE, CECUM",NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,32,2018-07-13T00:00:00Z,Gross Pathological Examination,GROSPATH,1,F,CG
4,HCD-10,HCD-10-0081,LIVER,NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,32,2018-07-13T00:00:00Z,Gross Pathological Examination,GROSPATH,1,F,CG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,HCD-09,HCD-09-0019,SPINAL CORD,NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,57,2018-06-25T12:38:54Z,Gross Pathological Examination,GROSPATH,1,M,CG
1902,HCD-09,HCD-09-0019,"GLAND, SALIVARY",NaN,NaN,UNREMARKABLE,BILATERAL,NaN,NaN,57,2018-06-25T12:38:54Z,Gross Pathological Examination,GROSPATH,1,M,CG
1903,HCD-09,HCD-09-0019,"GLAND, PARATHYROID",NaN,NaN,UNREMARKABLE,BILATERAL,NaN,NaN,57,2018-06-25T12:38:54Z,Gross Pathological Examination,GROSPATH,1,M,CG
1904,HCD-09,HCD-09-0074,ALL TISSUES,NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,31,2018-05-30T08:48:40Z,Gross Pathological Examination,GROSPATH,1,F,CG
1905,HCD-09,HCD-09-0078,ALL TISSUES,NaN,NaN,UNREMARKABLE,NaN,NaN,NaN,31,2018-05-30T08:22:21Z,Gross Pathological Examination,GROSPATH,1,F,CG

In [66]:
ma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1906 entries, 0 to 1905
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SPREFID                                1906 non-null   object
 1   USUBJID                                1906 non-null   object
 2   MASPEC                                 1906 non-null   object
 3   MASEVN                                 0 non-null      float64
 4   MASEV                                  0 non-null      float64
 5   MAORRES                                1906 non-null   object
 6   MALAT                                  553 non-null    object
 7   MASTAT                                 0 non-null      float64
 8   MAREASND                               0 non-null      float64
 9   MADY                                   1906 non-null   int64
 10  MADTC                                  1906 non-null   object
 11  MATEST                                 1906 non-null   object
 12  MATESTCD                               1906 non-null   object
 13  finding_is_unremarkable_or_incomplete  1906 non-null   int64
 14  SEX                                    1906 non-null   object
 15  trial_set_description                  1906 non-null   object
dtypes: float64(4), int64(2), object(10)
memory usage: 238.4+ KB

In [67]:
mi = pd.DataFrame(pd.read_csv("mi.csv"))
mi

,SPREFID,USUBJID,SEX,MISPEC,MISEVTXT,MISEV,MIORRES,MIRESCAT,MIDY,trial_set_description
0,HCD-05,HCD-05-0015,M,"SMALL INTESTINE, ILEUM",NaN,NaN,UNREMARKABLE,NaN,58,CG
1,HCD-05,HCD-05-0015,M,"LARGE INTESTINE, RECTUM",NaN,NaN,UNREMARKABLE,NaN,58,CG
2,HCD-05,HCD-05-0015,M,TRACHEA,NaN,NaN,UNREMARKABLE,NaN,58,CG
3,HCD-05,HCD-05-0015,M,ESOPHAGUS,NaN,NaN,UNREMARKABLE,NaN,58,CG
4,HCD-05,HCD-05-0015,M,PEYER'S PATCH,NaN,NaN,UNREMARKABLE,NaN,58,CG
...,...,...,...,...,...,...,...,...,...,...
14126,HCD-07,HCD-07-0001,M,SKIN,NaN,NaN,UNREMARKABLE,NaN,29,CG
14127,HCD-07,HCD-07-0001,M,EYE,NaN,NaN,UNREMARKABLE,NaN,29,CG
14128,HCD-07,HCD-07-0001,M,"LARGE INTESTINE, RECTUM",NaN,NaN,UNREMARKABLE,NaN,29,CG
14129,HCD-07,HCD-07-0001,M,SPINAL CORD,NaN,NaN,UNREMARKABLE,NaN,29,CG
14130,HCD-07,HCD-07-0001,M,TESTIS,NaN,NaN,UNREMARKABLE,NaN,29,CG

In [68]:
mi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14131 entries, 0 to 14130
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SPREFID                14131 non-null  object
 1   USUBJID                14131 non-null  object
 2   SEX                    14131 non-null  object
 3   MISPEC                 14131 non-null  object
 4   MISEVTXT               957 non-null    object
 5   MISEV                  957 non-null    float64
 6   MIORRES                11406 non-null  object
 7   MIRESCAT               1086 non-null   object
 8   MIDY                   14131 non-null  int64
 9   trial_set_description  14131 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [69]:
om = pd.DataFrame(pd.read_csv("om.csv"))
om

,SPREFID,USUBJID,OMEXCLFL,OMSTAT,OMREASND,OMTESTCD,OMTEST,OMSPEC,OMSTRES,OMSTRESU,OMDY,SEX,trial_set_description
0,HCD-05,HCD-05-0006,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,THYMUS,0.18757,%,29,M,CG
1,HCD-05,HCD-05-0006,NaN,NaN,NaN,WEIGHT,Weight,THYMUS,0.52200,g,29,M,CG
2,HCD-05,HCD-05-0006,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,SPLEEN,0.19799,%,29,M,CG
3,HCD-05,HCD-05-0006,NaN,NaN,NaN,WEIGHT,Weight,SPLEEN,0.55100,g,29,M,CG
4,HCD-05,HCD-05-0006,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,"GLAND, ADRENAL",0.01365,%,29,M,CG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5889,HCD-12,HCD-12-0009,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,EPIDIDYMIS,0.36779,%,31,M,CG
5890,HCD-12,HCD-12-0009,NaN,NaN,NaN,WEIGHT,Weight,"GLAND, PROSTATE",0.67400,g,31,M,CG
5891,HCD-12,HCD-12-0009,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,"GLAND, PROSTATE",0.21840,%,31,M,CG
5892,HCD-12,HCD-12-0009,NaN,NaN,NaN,WEIGHT,Weight,"GLAND, COAGULATING",0.85600,g,31,M,CG
5893,HCD-12,HCD-12-0009,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,"GLAND, ADRENAL",0.01912,%,31,M,CG

In [70]:
om.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5894 entries, 0 to 5893
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SPREFID                5894 non-null   object
 1   USUBJID                5894 non-null   object
 2   OMEXCLFL               0 non-null      float64
 3   OMSTAT                 0 non-null      float64
 4   OMREASND               0 non-null      float64
 5   OMTESTCD               5894 non-null   object
 6   OMTEST                 5894 non-null   object
 7   OMSPEC                 5894 non-null   object
 8   OMSTRES                5894 non-null   float64
 9   OMSTRESU               5894 non-null   object
 10  OMDY                   5894 non-null   int64
 11  SEX                    5894 non-null   object
 12  trial_set_description  5894 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 598.7+ KB

In [89]:
om_mapping = pd.DataFrame(pd.read_excel("om_mapping.xlsx"))
om_data

,SPREFID,USUBJID,OMEXCLFL,OMSTAT,OMREASND,OMTESTCD,OMTEST,OMSPEC,OMSTRES,OMSTRESU,OMDY,SEX,trial_set_description
0,HCD-05,HCD-05-0006,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,THYMUS,0.18757,%,29,M,CG
1,HCD-05,HCD-05-0006,NaN,NaN,NaN,WEIGHT,Weight,THYMUS,0.52200,g,29,M,CG
2,HCD-05,HCD-05-0006,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,SPLEEN,0.19799,%,29,M,CG
3,HCD-05,HCD-05-0006,NaN,NaN,NaN,WEIGHT,Weight,SPLEEN,0.55100,g,29,M,CG
4,HCD-05,HCD-05-0006,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,"GLAND, ADRENAL",0.01365,%,29,M,CG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5889,HCD-12,HCD-12-0009,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,EPIDIDYMIS,0.36779,%,31,M,CG
5890,HCD-12,HCD-12-0009,NaN,NaN,NaN,WEIGHT,Weight,"GLAND, PROSTATE",0.67400,g,31,M,CG
5891,HCD-12,HCD-12-0009,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,"GLAND, PROSTATE",0.21840,%,31,M,CG
5892,HCD-12,HCD-12-0009,NaN,NaN,NaN,WEIGHT,Weight,"GLAND, COAGULATING",0.85600,g,31,M,CG
5893,HCD-12,HCD-12-0009,NaN,NaN,NaN,OWBW,Organ to Body Weight Ratio,"GLAND, ADRENAL",0.01912,%,31,M,CG

In [90]:
om_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OMTEST        82 non-null     object
 1   OMTESTCD_new  82 non-null     object
 2   OMSPEC_new    82 non-null     object
 3   OMTESTCD_old  82 non-null     object
dtypes: object(4)
memory usage: 2.7+ KB

In [55]:
ts = pd.DataFrame(pd.read_csv("ts.csv"))
ts

,SPREFID,SPECIES,STRAIN,AGE,AGEU,DOSDUR,ROUTE,TRTV,TSTFLOC,START_YEAR,STDSTDTC,STITLE
0,HCD-09,RAT,WISTAR HAN,7-8,WEEKS,4 week,INTRAGASTRIC,Ethanol/KolliphorHS15/WaterfI,"42096 Wuppertal, Germany",2018,2018-04-17,Repeated Dose Systemic Toxicity Study in Wista...
1,HCD-05,RAT,WISTAR HAN,NaN,NaN,4 week,ORAL,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2017,2017-03-14,Repeated Dose Systemic Toxicity Study in Wista...
2,HCD-04,RAT,WISTAR HAN,NaN,NaN,4 week,ORAL GAVAGE,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2017,2017-03-07,Repeated Dose Systemic Toxicity Study in Wista...
3,HCD-08,RAT,WISTAR HAN,NaN,WEEKS,4 week,ORAL,Kolliphor HS 15/ethanol/water (40/10/50; v/v/v),42096 Wuppertal,2018,2018-03-15,Repeated Dose Systemic Toxicity Study in Wista...
4,HCD-01,RAT,WISTAR HAN,NaN,NaN,4 week,INTRAGASTRIC,PEG 400 / Ethanol,"Wuppertal, Germany",2017,2017-01-10,4-Week Repeated Dose Systemic Toxicity Study i...
5,HCD-10,RAT,WISTAR HAN,NaN,NaN,4 week,INTRAGASTRIC,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2018,2018-06-05,Repeated Dose Systemic Toxicity Study in Wista...
6,HCD-12,RAT,WISTAR,NaN,WEEKS,4 week,ORAL,PEG 400/Ethanol (90/10; v/v),"GLP-Prufeinrichtung Early Development Bayer, 4...",2019,2019-04-08,4- Week Repeat Dose Systemic Toxicity Study in...
7,HCD-11,RAT,WISTAR HAN,NaN,NaN,4 week,ORAL GAVAGE,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2019,2019-03-26,Repeated Dose Systemic Toxicity Study in Male ...
8,HCD-06,RAT,WISTAR HAN,NaN,NaN,4 week,ORAL GAVAGE,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2017,2017-03-21,4-Week Repeat Dose Systemic Toxicity Study in ...
9,HCD-07,RAT,WISTAR HAN,NaN,NaN,4 week,ORAL GAVAGE,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2017,2017-06-02,4-Week Repeat Dose Systemic Toxicity Study in ...
10,HCD-14,RAT,WISTAR,NaN,NaN,4 week,ORAL GAVAGE,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2020,2020-11-10,4-Week Repeat Dose Systemic Toxicity Study in ...
11,HCD-13,RAT,WISTAR HAN,NaN,NaN,4 week,INTRAGASTRIC,PEG400/Cremophor/Imwitor+SDS,"Wuppertal, Germany",2019,2019-10-29,Repeated Dose Systemic Toxicity Study in Rats ...
12,HCD-03,RAT,WISTAR HAN,NaN,NaN,4 week,ORAL,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2017,2017-02-14,Repeated Dose Systemic Toxicity Study in Wista...
13,HCD-02,RAT,WISTAR HAN,NaN,NaN,4 week,INTRAGASTRIC,Ethanol/KolliphorHS15/WaterfI,"Wuppertal, Germany",2017,2017-01-24,Repeated Dose Systemic Toxicity Study in Wista...

In [56]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SPREFID     14 non-null     object
 1   SPECIES     14 non-null     object
 2   STRAIN      14 non-null     object
 3   AGE         1 non-null      object
 4   AGEU        3 non-null      object
 5   DOSDUR      14 non-null     object
 6   ROUTE       14 non-null     object
 7   TRTV        14 non-null     object
 8   TSTFLOC     14 non-null     object
 9   START_YEAR  14 non-null     int64
 10  STDSTDTC    14 non-null     object
 11  STITLE      14 non-null     object
dtypes: int64(1), object(11)
memory usage: 1.4+ KB

In [71]:
LBTEST_dictionary = pd.DataFrame(pd.read_csv("LBTEST_dictionary.csv"))
LBTEST_dictionary

                       LBTEST  LBTESTCD       LBSPEC
0                     Glucose      GLUC        SERUM
1       Large Unstained Cells   LGUNSCE  WHOLE BLOOD
2    Alanine Aminotransferase       ALT        SERUM
3                   Basophils      BASO  WHOLE BLOOD
4                      Volume    VOLUME        URINE
..                        ...       ...          ...
497                   ImFun01   IMFUN01  WHOLE BLOOD
498                   ImFun28   IMFUN28  WHOLE BLOOD
499                   ImFun24   IMFUN24  WHOLE BLOOD
500    b conjugated bilirubin     BCBIL        SERUM
501                  NAG/CREA  U-NAG/CR        URINE

[502 rows x 3 columns]

In [72]:
LBTEST_dictionary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LBTEST    502 non-null    object
 1   LBTESTCD  502 non-null    object
 2   LBSPEC    502 non-null    object
dtypes: object(3)
memory usage: 11.9+ KB